body
{
    background-color: rgb(233, 238, 245);
}

h3
{
    padding: 20px 0px;
    text-align: center;
    color: midnightblue;
    background-color: #77D5D5;
    width: 70%;
    margin: auto;
}

.table
{
    width: 70%;
    margin: auto;
    margin-bottom: 50px;
    border: 1px solid black;
}

.addButtons
{
    margin-bottom: 20px;
}

.btn
{
    background-color: #77D5D5;
    color: midnightblue;
    font-weight: bold;
    outline: none;
    border: none;
    padding: 12px;
}

.btn:hover
{
    text-decoration: none;
    background-color: #77D5D5;
    color: midnightblue;
}

footer
{
    text-align: center;
    background-color: lightgray;
    margin-top: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
}